APP_ENV=development
POSTGRES_DB=service
POSTGRES_USER=service
POSTGRES_PASSWORD=service_dev_password
REDIS_PASSWORD=redis_dev_password
SERVICE_PORT=8081
OTEL_SERVICE_NAME=service
OTEL_TRACES_EXPORTER=none
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
KAFKA_BROKERS=
KAFKA_TOPIC_PREFIX=local
